<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <br>
    <br>
    
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4 ">
            <h2 class="fw-bold mb-4 text-uppercase text-center">INICIAR SESIÓN</h2>
            <form action="/login" method="POST">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Correo Electrónico</label>
                    <input type="email" name="correo" class="form-control"/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Contraseña</label>
                    <input type="password" name="password" class="form-control"/>
                </div>

                {% if wrong_data %}
                    <div style="color:red">Datos incorrectos</div>
                    <br>
                {% endif %}

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block w-100">Ingresar</button>
            </form>
        </div>
    </div>
</body>

</html>